body{
    font-family: 'Lato', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: white;
}

.title-section{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.description-section{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 590px;
    margin: 0 auto;
}


.banner{
    /* padding: 30px 30px 0px 150px; */
    padding: 50px 140px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    /* width: 100vh; */
    height: 800px;
    margin: 0px auto;
}

.flower-pic{
   /* padding-top: 50px;
   padding-right: 240px; */
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 708px;
    margin-bottom: 30px;
    
}
.banner-description{
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    width: 634px;
}

/* Our Feature Flower section styles */

.flower-feature-about{
    margin: 130px auto 0px;
}
.flower-feature-image{
    margin-top: 130px;
    display: flex;
    justify-content:space-around;
    gap: 24px;
}

.flower-feature-image-collection-body{
    width: 464px;
    height: 538px;
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
}


.flower-feature-image-collection{
    padding: 110px auto 0;
}




/* Sign-up section styles*/

.sign-up{
    display: flex;
    justify-content: space-between;
    padding: 100px 350px;
    /* width: 100vh; */
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 130px auto 130px;
}

.sign-up-container{
    width: 550px;
    text-align: center;
    justify-items: center;
    /* padding: 0 420px; */

}
.sign-up-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    /* text-align: center; */
    padding-top: 130px;
}

.off{
    color: #E55473;
}
.sign-up-description{
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    font-size: 18px;
    font-weight: 400;
}
